body {
    margin: 0;
}
nav {
    background-color: #EEE;
    width: 100vw;
    font-weight: bold;
}

nav ul {
    margin: 0;
    padding: 1.5vw;
    display: flex;
}

nav li{
    list-style: none;
    /* Change font-size */
    font-size: 2vh;
}

nav a.active {
    color: #FFF;
}

nav a {
    font-family: monospace;
    text-decoration: none;
    color: #999;
    padding: 1.5vw;
}

nav a:hover {
    background-color: white;
    color: black;
}

div.frame {
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}

h1 {
    font-size: 3vw;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.5vw;
    line-height: 1.4vw;
    color: #333;
}

ul.posts { 
    margin: 5vw auto 10vw; 
    font-size: 1.5vw;
}

ul.posts li {
    list-style: none;
}
