<div class="container-fluid px-5 mt-3">
	<div class = "row min-vh-75">
		<div class="row align-items-center">
			<div class="col-sm-2"></div>
			<div class="col-sm-2 m-3">
				<div class="row">
					<img src="assets/images/Profile.jpg" class="img-fluid rounded-circle mx-auto py-3" alt="...">
					<hr class="bg-dark border-2 border-top border-dark w-75 mx-auto">
					<p class="text-center">Hello, I'm Mattias! Welcome to my slice of the internet, where I explore the things that I find interesting.</p>
				</div>
			</div>
			<div class="col-sm-6 m-3">
				<p>I built this website because I thought it would be neat to learn how to build a website. It will showcase some of the work that I do, in a conversational, stream-of-consciousness kind of way.<br><br> You shouldn't expect a central theme to my work, but if I had to guess, the theme might be <em>desirable difficulty</em>.</p>
			</div>
			<div class="col-sm-2"></div>
			
		</div>
		<div class="row justify-content-center">
			<div class="col-sm-8">
				<hr class="bg-dark border-2 border-top border-dark text-center">
			</div>
		</div>	
	</div>
</div>