<div class="container-fluid px-5 mt-3">
	<div class = "row min-vh-75">
		<div class="row align-items-center">
			<div class="col-sm-2"></div>
			<div class="col-sm-2 m-3">
				<div class="row">
					<img src="assets/images/Profile.jpg" class="img-fluid rounded-circle mx-auto py-3" alt="...">
					<hr class="bg-dark border-2 border-top border-dark w-75 mx-auto">
					<p class="text-center">Hello, I'm Mattias! Welcome to my slice of the internet, where I explore the things that I find interesting.</p>
				</div>
			</div>
			<div class="col-sm-6 m-3">
				<p>I built this website because I thought it would be neat to learn how to build a website. It will showcase some of the work that I do, in a conversational, stream-of-consciousness kind of way.<br><br> You shouldn't expect a central theme to my work, but if I had to guess, the theme might be <a href="https://en.wikipedia.org/wiki/Desirable_difficulty" target="_blank"><em>desirable difficulty</em></a>.</p>
			</div>
			<div class="col-sm-2"></div>
		</div>
		<div class="row justify-content-center">
			<div class="col-sm-8">
				<hr class="bg-dark border-2 border-top border-dark text-center">
			</div>
		</div>	
		<!-- THERE MUST BE A BETTER WAY TO DO THIS -->
		<div class="row text-center">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				<div class="row row-cols-xl-3 row-cols-sm-1 ">
					<div class="col-sm-12 col-lg-4">
						<div class="card mx-auto">
	  						<div class="card-body">
	    						<p class="card-text">Biology</p>
	  						</div>
	  						<img src="..." class="card-img-bottom" alt="...">
						</div>
					</div>
					<div class="col-sm-12 col-lg-4">
						<div class="card mx-auto">
	  						<div class="card-body">
	    						<p class="card-text">Mathematics</p>
	  						</div>
	  						<img src="..." class="card-img-bottom" alt="...">
						</div>
					</div>
					<div class="col-sm-12 col-lg-4">
						<div class="card mx-auto">
	  						<div class="card-body">
	    						<p class="card-text">Programming</p>
	  						</div>
	  						<img src="..." class="card-img-bottom" alt="...">
						</div>
					</div>
					<div class="col-sm-12 col-lg-4">
						<div class="card mx-auto">
	  						<div class="card-body">
	    						<p class="card-text"> Machine Learning </p>
	  						</div>
	  						<img src="..." class="card-img-bottom" alt="...">
						</div>
					</div>
					<div class="col-sm-12 col-lg-4">
						<div class="card mx-auto">
	  						<div class="card-body">
	    						<p class="card-text"> Education </p>
	  						</div>
	  						<img src="..." class="card-img-bottom" alt="...">
						</div>
					</div>
					<div class="col-sm-12 col-lg-4">
						<div class="card mx-auto">
	  						<div class="card-body">
	    						<p class="card-text"> Skateboarding </p>
	  						</div>
	  						<img src="..." class="card-img-bottom" alt="...">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- THERE MUST BE A BETTER WAY TO DO THIS -->
	</div>
</div>