---
---
html{
  scroll-behavior: smooth;
}

body{
  position: relative;
}

details {
  overflow: hidden;
  margin-top: 0.125em;
  background: #ffffff;
  border-radius: 3px;
}

details summary {
  display: block;
  cursor: pointer;
  padding: .5em .5em .5em .7em;
  border-radius: 3px 3px 0 0;
}

details:not([open]) summary:hover,
details:not([open]) summary:focus {      
  background: #f6f6f6;
  color: #454545;
}

details[open] summary {
  border: 1px solid #003eff;
  background: #007fff;
  color: #ffffff;
}

details main {
  padding: 1em 2.2em;
}


.toc-entry {
  text-decoration: none;
  li{
    list-style: none;
    text-decoration: none;
  }
  a {
    color: #000;
    text-decoration: none;
  }
  a:hover {
    color:#00A0C6;
    cursor: pointer;
  }
}

li.active > a{
  color:#00A0C6
}

.post{
  h3{
    a{
      text-decoration: none;
      color: inherit;
    }
    a:hover{
      color: #808080;
    }
  }
}